
  .add-product {
    color: white; 
    border-radius: 5px; 
    background: transparent linear-gradient(134deg, #FF3C00 0%, #FF8000 100%) 0% 0% no-repeat padding-box !important; 
    border: 1px solid #ff6a00; 
    display: inline-block;
    padding: 8px 15px; 
    text-align: center; 
  }
  
  .add-product:hover {
    background-color: #d05d0a; 
    color: white; 
  }
th{
  color: #ff6a00;
}