body {
    background-color: #f2f2f2;
    padding-top: 50px;
    min-height: 900px;
  }
  h4,h3{
    font-weight: 500;
  }
  hr{
    width: 95%;
  }
  .price {
    font-size: 1rem;
    font-weight: bold;
    color: #ff6d00;
  }
  .remove-button {
    background: none;
    border: none;
    color: #222;
    line-height: 36px;
    cursor: pointer; 
  }
  
  
  .remove-button i {
    font-size: 20px;
  }
  .btn{
    background: transparent linear-gradient(134deg, #FF3C00 0%, #FF8000 100%) 
  0% 0% no-repeat padding-box !important;
  border-radius: 5px;
  color: white;
  border: none;
  height: 40px;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1;
  padding: 0.5rem 1rem;
  }
  .btn:hover {
    background-image: linear-gradient(135deg, #e65500, #ff8c33); 
    border-color: #e65500; 
    color: white; 
  }
  .color{
    color: red;
  }