# Environment variables
.env
.env.local
.env.production
# backend/.gitignore
.env
# Logs
logs
*.log

# Dependencies
node_modules/
config/firebase-adminsdk.json
backend/routes/config/firebase-adminsdk.json
backend/routes/config/firebase-adminsdk.json.backup 