.carousel-control-next-icon, .carousel-control-prev-icon {
  padding: 30px 5px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}
body{
  padding-top: 60px;
  background-color:#f2f2f2 ;
}



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section__heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Ajoute un espacement entre les colonnes */
}

.feature {
  flex: 1 1 calc(50% - 20px); /* Les éléments occupent 50% de la largeur moins l'espacement */
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin-bottom: 20px;
}

.feature img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.feature-content {
  display: flex;
  flex-direction: column;
}

.feature-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.feature-description {
  font-size: 14px;
  color: #666;
}

