<body>
  
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="2200">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/banner_1735885053141c18978da575740b2b07be9ea7bfe1.jpeg" 
             class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/banner_173346170590d70eaecbc67d2c4df5b116a610e54a.jpeg"
             class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/banner_173224788830befea21acf6f564f395980b7a5db69.jpeg" 
             class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/banner_1720490670ec6b2fdabe0ebf4a46f1ab37bc6b1d89.jpeg" 
             class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <div class="container py-5">
    <h2 class="h4 section__heading mb-0 flex-auto text-center">DÉCOUVREZ NOS PRODUITS</h2><br>
    <div class="row text-center">
      <!-- Ordinateurs portables -->
      <div class="col-md-2 category">
        <img src="../../../assets/icon_laptops_a74f4bf9-8447-4ed3-82fb-2cba326e8ecd.webp" alt="">
        <div class="category-text">Ordinateurs portables</div>
      </div>
      <!-- Écrans -->
      <div class="col-md-2 category">
        <img src="../../../assets/icon_monitors_6a46b1cd-7d20-4a16-bf80-5bc6420bc608.webp" alt="">
        <div class="category-text">Écrans</div>
      </div>
      <!-- Ordinateurs de bureau -->
      <div class="col-md-2 category">
        <img src="../../../assets/icon_desktop.webp" alt="">
        <div class="category-text">Ordinateurs de bureau</div>
      </div>
      <!-- Cartes graphiques -->
      <div class="col-md-2 category">
        <img src="../../../assets/icon_graphic_9968e80d-6fa5-44c3-afa1-7fb15283d9a7.webp" alt="">
        <div class="category-text">Cartes graphiques</div>
      </div>
      <!-- Cartes mères -->
      <div class="col-md-2 category">
        <img src="../../../assets/icon_Motherboards_5cb37ce5-0a95-45ba-958a-350ff851ae01.webp" alt="">
        <div class="category-text">Cartes mères</div>
      </div>
      <!-- Accessoires -->
      <div class="col-md-2 category">
        <img src="../../../assets/icon_accessories_ca49d7f6-9734-43a5-8ef8-e05cfd71b407.webp" alt="">
        <div class="category-text">Accessoires</div>
      </div>
    </div>
  </div>
  
  <div class="container ">
    <h2 class="section__heading">Pourquoi nous choisir</h2>
    <div class="row1">
      <!-- Garantie complète -->
      <div class="feature col-md-6">
        <img src="../../../assets/verity.png" alt="Garantie complète">
        <div class="feature-content">
          <div class="feature-title">Garantie complète</div>
          <div class="feature-description">
            Tous les produits sont couverts par une garantie d'un an minimum.
          </div>
        </div>
      </div>
  
      <!-- Paiement sécurisé -->
      <div class="feature col-md-6">
        <img src="../../../assets/security.webp" alt="Paiement sécurisé">
        <div class="feature-content">
          <div class="feature-title">Paiement sécurisé</div>
          <div class="feature-description">
            Système de paiement sécurisé et protection des acheteurs.
          </div>
        </div>
      </div>
  
      <!-- Livraison gratuite -->
      <div class="feature col-md-6">
        <img src="../../../assets/delivery.webp" alt="Livraison gratuite">
        <div class="feature-content">
          <div class="feature-title">Livraison gratuite</div>
          <div class="feature-description">
            Livraison gratuite pour les commandes supérieures à 150 euros.
          </div>
        </div>
      </div>
  
      <!-- Garantie de retour -->
      <div class="feature col-md-6">
        <img src="../../../assets/retour.webp" alt="Garantie de retour">
        <div class="feature-content">
          <div class="feature-title">Garantie de retour</div>
          <div class="feature-description">
            Politique de retour dans les 14 jours à compter de la date d'achat.
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
  