.d-flex.align-items-center.px-4.mt-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.shadow-sm {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 800px; /* Adjust form width */
    background-color: #f8f9fa; /* Light gray background */
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

label.form-label {
    width: 150px; /* Fixed width for labels */
    font-weight: bold;
}

textarea,
input.form-control {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button.btn {
    border-radius: 20px;
    width: 150px;
    font-weight: bold;
    font-size: 16px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
button[mat-raised-button] {
    border-radius: 20px;
    width: 150px;
    font-weight: bold;
    font-size: 16px;
  }