body {
    background-color: #f2f2f2;
    padding-top: 50px;
    min-height: 750px;
  }
  
  .cart-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 50px;
  }
  
  
  .cart-items {
    width: 65%;
    background-color: #ffffff; /* Fond blanc */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
  }
  .cart-item {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .product-info {
    display: flex;
    gap: 10px;
  }
  
  .product-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5px;
  }
  
  .product-price {
    display: flex;
    align-items: baseline;
    gap: 10px;
  }
  
  .current-price {
    font-size: 1rem;
    font-weight: bold;
    color: #ff6d00;
  }
  
  .original-price {
    font-size: 0.8rem;
    text-decoration: line-through;
    color: #aaa;
  }
  
  .product-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
  }
  
  .quantity {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .quantity button {
    padding: 3px 8px; /* Smaller buttons */
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .quantity span {
    font-size: 0.8rem; /* Smaller font for the quantity */
  }
  
  input {
    width: 60px; /* Smaller input width */
    padding: 5px; /* Compact padding */
    font-size: 0.9rem; /* Smaller font size */
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .remove-button {
    background: none;
    border: none;
    color: #222;
    line-height: 36px;
    cursor: pointer; 
  }
  
  
  .remove-button i {
    font-size: 20px;
  }
  
  /* Résumé du panier */
  .summary {
    width: 30%;
    height: 50%;
    background-color: #ffffff; /* Fond blanc */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
  }
  
  
  .total-amount {
    font-weight: bold;
    font-size: 1.1rem;
    background-color: #f1f1f1;
    padding: 2px 10px;
  }
  
  .checkout-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .checkout-button:hover {
    background-color: #218838;
  }
  .discount{
    color: white;
    font-size: 13px;
    font-weight: 400;
    background:#fe2424;
    padding: 4px 5px;
    display: inline-block;
  }
  


  